.navbar li a i {
  padding-right: 5px;
  color: #e6ae49;/*color de los iconos del menu*/
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;/*color de la flecha del submenu*/
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.navbar-right { float: right !important; margin-right: 5px; }
.navbar-text { margin-right: 10px;  }
.navbar-right .navbar-text > a > img {
  width: 22px;
  height: 22px;
  border-radius: 100%;
  border: 2px solid #eeeeee;
}
.navbar-right .navbar-text { color: white;  }/*color del texto de usuario*/
.navbar-right a i {
  padding-right: 5px;
  color: yellow;
}

.navbar-default {
  z-index: 1;
}

/*.navbar-default {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
}*/
.container-fluid {
  background-color: #19458c;/*color de la cabecera*/
}

/*.navbar-default .navbar-nav > li > a {
  font-weight: 200;
  color: #c1ffff;/*color de las letras de del menu en la cabecera*/

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-image:none !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color:#9ee0f2;
  color:#19458c;
}

.navbar .brand, .navbar .nav > li > a:hover {
  color: white;
}
.navbar .brand, .navbar .nav > li > a {
  /*font-weight: 200;*/
  color: #c1ffff;/*color de las letras de del menu en la cabecera*/
}
.navbar .brand, .navbar .nav > li > a:hover {
  box-shadow: 0 3px 0 #e6ae49;
}
.navbar .brand, .navbar .nav > li > a {
  padding-bottom: 20px;
  padding-top: 20px;
}
.navbar .brand, .navbar .nav > li > a {
  /* font-weight: bold;*/
  line-height: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.navbar .brand, .navbar .nav > li > a:focus {
  color: #000;
  background: #d65c14;
}
.dropdown-menu > li >  a:focus {
  color: #000;
  background: #d65c14;
}

body { padding-top: 70px; }
