<div class="col-md-12">
 <div class="panel panel-lined table-responsive panel-hovered mb20">
  <div class="card-header">
        <h4 class="card-title">Setting defaults</h4>
          <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
            <div class="heading-elements">
              <ul class="list-inline mb-0">
                <li *ngIf="!isCollapsed"><a (click)="isCollapsed = !isCollapsed"><i class="fa fa-minus"></i></a></li>
                <li *ngIf="isCollapsed"><a (click)="isCollapsed = !isCollapsed"><i class="fa fa-plus"></i></a></li>
                <!--<li><a data-action="collapse" (click)="height = height ? 0 : el.scrollHeight"><i class="fa fa-minus"></i></a></li>-->
                <li><a (click) = "p = reload()"><i class="fa fa-refresh"></i></a></li>
                <li><a data-action="expand"><i class="fa fa-window-maximize"></i></a></li>
                <li><a data-action="close"><i class="fa fa-times"></i></a></li>
              </ul>
            </div>
  </div>
  <div [collapse]="isCollapsed">
  <!--<div class="card card-block block" [style.height]="height + 'px'" #el>-->
    <div class="card-block card-dashboard">              
	    <table class="table table-bordered table-striped table-hover">
		    <thead>
    			<tr>
    				<th><i class="fa fa-file-text-o"></i>&#32;<i class="fa fa-trash"></i>&#32;<i class="fa fa-pencil"></i></th>
                    <th>Name</th>
                    <th>Path</th>
                    <th>Host</th>
                    <th>Port</th>
                    <th>DataBase</th>
                    <th>Schema</th>
    			</tr>
		    </thead>
		    <tbody>
    			<tr *ngFor= "let application of data | paginate: { itemsPerPage: itemsPerPage, currentPage: p, totalItems: totalItems }" [class.selected]="isSelected(application)">
                  <td><a href="" class="fa fa-file-text-o" ng-click="historyRecord($index, data, $event)"></a>&#32;<a href="" class="fa fa-trash" ng-click="removeRecord($index, data, $event)"></a>&#32;<a [routerLink] = "[application.application_id]" class="fa fa-pencil" (click) = "onSelect(application)"></a></td>
                  <td>{{application.name_application}}</td>
                  <td>{{application.path_application}}</td>
                  <td>{{application.host}}</td>
                  <td>{{application.port}}</td>
                  <td>{{application.database}}</td>
                  <td>{{application.schema}}</td>
          </tr>        
        </tbody>
	    </table>
      <pagination-controls style="float: right;" (pageChange)="p = pageChanged($event)"></pagination-controls>
    </div>
  </div>
 </div>
</div>

<router-outlet></router-outlet>
