<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak name="loginForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-icon md-svg-src="images/ic_build_24px.svg" aria-label="Close dialog"></md-icon>
        <h4>&nbsp;&nbsp;RAD Tools</h4>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content style="width:400px;">
      <div class="md-dialog-content">
          <h5 class="errores" ng-show="error">{{error}}</h5>

        <md-input-container class="md-block">
          <!-- Use floating placeholder instead of label -->
          <md-icon md-svg-src="images/ic_person_24px.svg" class="email"></md-icon>
          <input ng-model="credentials.username" type="text" placeholder="Usuario" ng-required="true">
        </md-input-container>

        <md-input-container class="md-block">
          <!-- Use floating placeholder instead of label -->
          <md-icon md-svg-src="images/key-and-ring.svg" class="email"></md-icon>
          <input ng-model="credentials.password" type="password" placeholder="Password" ng-required="true">
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-disabled="loginForm.$invalid" ng-click="login(credentials)">
        Ingresar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
