/* You can add global styles to this file, and also import other style files */
/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  /*margin: 2em;  para que la barra de menu no tenga margen */ 
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

/* items class */
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected {
  background-color: #CFD8DC;
  color: white;
}
.items li.selected:hover {
  background-color: #BBD8DC;
}
.items .text {
  position: relative;
  top: -3px;
}
.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}


/*
Copyright 2017 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
body label {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.57142857;
  color: #39597a;
  font-weight: bold;
}

.page {
  padding: 15px;
}

@media (max-width: 320px) {
  .page .row > [class^='col'] {
    width: 100%;
  }
}
.page .page-wrap > .row {
  padding: 0 15px;
}

.breadcrumb-small {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}
.breadcrumb-small > li {
  color: #6c6c6c;
}
.breadcrumb-small > li + li:before {
  display: inline-block;
  -webkit-transform: translate(0, -1px);
  -ms-transform: translate(0, -1px);
  -o-transform: translate(0, -1px);
  transform: translate(0, -1px);
}

.mb20 {
  margin-bottom: 20px;
}

.table tbody > th .horizontal-align{
  horiz-align: center;
}
.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th {
  background-color: #ddd;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

ol > li {
  display: inline-block;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

body {
    color: #333333;
    font-family: "Helvetica Light",Helvetica,"Droid Sans",Arial,Arial Unicode MS,sans-serif;
    font-size: 12px;
    line-height: 1.45;
    background-color: #fff;
}

body {
    letter-spacing: .5px;
    background: #efefef;
}

body {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    height: 100%;
    color: rgba(0, 0, 0, 0.87);
    background: #efefef;
    position: relative;
}

html, body {
    display: block;
    height: 100%;
    min-height: 100%;
}

.panel {
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 0;
  box-shadow: none;
}

.panel-hovered:hover {
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.15);
}

.panel-lined, .panel-default, .panel-primary, .panel-success, .panel-info, .panel-warning, .panel-danger {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in;
}